.my-account {
  padding: 80px 0;

  .woocommerce-message {
    margin-bottom: 30px;
  }
}

.woocommerce-MyAccount-navigation {
  ul {
    margin: 0 0 30px;
  }

  li {
    display: inline-block;
    padding: 5px 15px;

    &:first-child {
      padding-left: 0;
    }
  }
}

.woocommerce-MyAccount-orders {
  width: 100%;

  thead {
    text-align: left;
  }

  .button {
    @extend .btn--small;
  }
}
